# intro about different types of output

In [1]:
print('namaste')

namaste

In [2]:
print('namaste,20,2.0,true')

namaste,20,2.0,true

In [14]:
print('namaste',20,2.0,True,sep='')

namaste202.0True

In [16]:
print('namaste',20,2.0,True,sep='/')'

namaste/20/2.0/True

In [21]:
print('namaste',end='-')
print('bhaiyaji')

namaste-bhaiyaji

# 2.Data types

In [22]:
# integer
print(8)
1*10^308
print(1e308)

8
1e+308

In [23]:
# float/double
print(2.5)
print(1.7e308)

2.5
1.7e+308

In [25]:
#strings
print('krishna')

krishna

In [26]:
#boolean expression
print(True)

True

In [27]:
#List ----> Array(slow and modifiable) 
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [28]:
#tuples  (fast and not modifiable)
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [30]:
#dictionary
print({'name:krishna,gender:male,'})

{'name:krishna,gender:male,'}

In [33]:
#complex
print(5+4j)

(5+4j)

In [34]:
#sets (if data is repeated then it does not repeat while printing )
print({1,2,3,3})

{1, 2, 3}

In [47]:
#type (it is used to identify the data types)
type([1,2,3,4])

list

# 3.Variables

In [41]:
#dynamic typing (where datatype need not to be declared for variable)) ---->opposite
name='krishna'
print(name)
a=2
b=5
print(a+b)
#static typing in C/C++ (where datatype needs to be declared for variable)
#int name ="krishna"

krishna
7

In [43]:
#static Binding (if one variable is assigned with the value then it cannot be aigned with another value)
#e.g. if a=2 then it cannot be a=3
#dynamic Binding (opposite of static Binding)
#e.g 
a=2
print(a)
a=5
print(a)

2
5

In [44]:
#stylish declaration techniques
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [45]:
a=1
b=2
c=3
print(a,b,c)

1 2 3

a=b=c=5
print(a,b,c)

# 4. Keywords & Identifiers

In [ ]:
#Keywords can't be used as a variable name

In [1]:
#Identifiers
#rules for writing the identifiers
#1.you can't start with a digit means --> 1name='krishna' \n print(1name) won't print the krishna 
#name1='krishna'
#print(name1)
#2. you can use special characters just -> _ 
#first-name ='krishna' --> this won't work
#print (first-name)
# above code won't work beacuse under_score must be used 
#right Implementation below
name1='krishna'
print(name1)
first_name ='krishna'
print (first_name)
_ = 'krishna' 
#we can print by using underscore'_' 
print('krishna')
#3.identifiers can not be keywords

krishna
krishna
krishna

# 5.user input

In [2]:
# static vs dynamic
input('apna naam bata')

apna naam bata krishna

'krishna'

In [9]:
#take input user from user and store them in variable
fnum=input('enter first number')
snum=input('enter second number')
# add the 2 variables
#print the result

enter first number 24
enter second number 35

# Type conversion

In [10]:
#Implicit vs Explicit

In [11]:
print(5+5.5)
print(type(5),type(5.5))

10.5
<class 'int'> <class 'float'>

In [12]:
#Explicit
#str-->int
type(int(4))

int

In [14]:
#Explicit
#str-->int
int(4.5)

4

In [22]:
#Explicit
#complex-->int
#int(4+5j)-----> this won't convert the complex to integer
#int-->str
str(5)

#FLoat
float(4)

4.0

In [28]:
#In python Type conversion IT DOES NOT CHANGE THE VALUE OF PREVIOUS DATA TYPE BUT IT CREATE NEW VALUE FOR NEW DATA TYPE
#(poorani cheez waise hi rehti hai aur nayi cheez create hoti hai bina kuch effect kiye june waale ko)
#FOR e.g 
fnum=('enter first number')
snum=('enter second number')